@import '../../assets/styles/constants.scss';

.base {
  display: block;

  label {
    font-family: $openSans;
    font-size: 16px;
    font-weight: 300;

    color: $spotify_black;
  }
  &__checkbox {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }

    // Box.
    & + label:before {
      content: '';
      display: inline-block;
      vertical-align: text-top;
      margin-right: 10px;
      width: 20px;
      height: 20px;

      border: solid 1px $spotify_black;
      border-radius: 2px;
      background: $spotify_green;
    }

    &:hover + label:before {
      background: darken($spotify_green, 10%);
    }

    &:focus + label:before {
    }

    &:checked + label:before {
      background: $spotify_green;
    }

    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }

    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }

    // Checkmark
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 6px;
      top: 9px;
      background-color: $spotify_black;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 $spotify_black, 4px 0 0 $spotify_black,
        4px -2px 0 $spotify_black, 4px -4px 0 $spotify_black,
        4px -6px 0 $spotify_black, 4px -8px 0 $spotify_black;
      transform: rotate(45deg);
    }
  }
}
