@import '../../assets/styles/constants.scss';

.base {
  padding: 20px;
  background: $spooty_blured-bg;
  border-radius: 8px;

  .searchBox {
    display: flex;
    align-items: center;
    button {
      margin-left: 10px;
    }
  }
}
