@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

// Spotify colors
$spotify_green: #1db954;
$spotify_black: #191414;

//Spooty colors
$spooty_green: #02be36;
$spooty_darkblue: #125b7a;

// Fonts
$openSans: 'Open Sans', sans-serif;
